@keyframes fadeInFromNone {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0;
	}

	100% {
		display: block;
		opacity: 1;
	}
}

@keyframes fadeToNone {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes heartbeat {
	from {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	to {
		transform: scale(1);
	}
}