.exp {
	padding: 50px 0;

	h2,
	h3 {
		text-align: center;
	}

	.title_fs16 {
		position: relative;
		@include before_circle;

		&::before {
			top: -6px;
			left: 50%;
			transform: translate(-50%);
		}
	}

	h3.title {
		margin-top: 10px;
		position: relative;
		@include after_divider;

		&:after {
			bottom: -25px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__content {
		margin-top: 85px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		// grid-template: repeat(3, 1fr) / repeat(2, 1fr);
		column-gap: 100px;
		// grid-template-areas:
		// 	"title title"
		// 	"item item"
		// 	"item item";
	}

	// &__education, &__work {
	// 	display: flex;
	// 	flex-direction: column;
	// }
	&__wrap {
		position: relative;
		padding-left: 30px;
		display: grid;
		grid-template-rows: minmax(30px, auto) 1fr 1fr;
		row-gap: 45px;

		&::before {
			content: "";
			position: absolute;
			left: -29px;
			top: 21px;
			height: calc(100% - 21px);
			width: 2px;
			background-color: #000;
			z-index: -1;
		}
	}

	&__title {
		position: relative;
		font-size: 20px;
		font-weight: 700;

		&::before {
			content: "";
			position: absolute;
			border-radius: 50%;
			z-index: -1;
			bottom: 8px;
			left: -65px;
			width: 15px;
			height: 15px;
			background: var(--main-color);
		}
	}

	&__item {
		// margin: 15px 0;
		max-width: 375px;
		position: relative;
	}

	&__icon {
		position: absolute;
		font-size: 3rem;
		@include before_circle;

		&::before {
			left: -15px;
			top: -10%;
		}
		&::after {
			content: "";
			position: absolute;
			left: -57px;
			top: 10px;
			height: 2px;
			width: 112%;
			background-color: #000;
			z-index: -2;
		}
	}

	&__subtitle {
		margin-left: 65px;
		font-weight: 500;
		font-size: 12px;
		line-height: 18px;

		strong {
			display: block;
			font-weight: 700;
			font-size: 14px;
			line-height: 21px;
		}
	}

	&__descr {
		margin-bottom: 0;
		margin-top: 30px;
		font-size: 12px;
		line-height: 18px;
	}


}