.menu {
	position: fixed;
	display: flex;
	justify-content: flex-end;
	height: 100vh;
	width: 100%;
	top: 0;
	right: -100%;
	z-index: 10;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s;

	&__link {
		position: relative;
		margin: 7px 0;

		&::before {
			content: "";
			position: absolute;
			top: 10px;
			left: -35px;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			border: 1px solid black;
			cursor: pointer;
		}

		&:hover {
			a {
				color: #151812;
				transition: color .3s;
			}

			&::before {
				background-color: #151812;
				transition: background-color .3s;
			}
		}

		a {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 24px;
			line-height: 36px;
			color: #FFFFFF;
		}

	}

	&.active {
		right: 0;
		visibility: visible;
		opacity: 1;
	}

	&__block {
		position: relative;
		padding: 140px 95px 50px 75px;
		height: 100%;
		top: 0;
		right: 0;
		background-color: var(--main-color);

		nav {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__social svg.icon {
		margin: 0 7px;
		width: 30px;
		height: 30px;
		fill: #000;
		transition: 0.25s;

		&:hover {
			fill: #FFE2C0;
		}
	}
}